@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    line-height: 1.5;
    min-height: 100vh;
    background: #f0e8db;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #999;
}

.btn {
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
    display: inline-block;
}

.login-btn {
    background-color: #4caf50;
}

.register-btn {
    background-color: #28a745;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}